@font-face {
  font-family: 'Hind_Siliguri';
  src: url("../../fonts/Hind_Siliguri/HindSiliguri-Regular.ttf") format(ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Hind_Siliguri';
  src: url("../../fonts/Hind_Siliguri/HindSiliguri-Medium.ttf") format(ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Hind_Siliguri';
  src: url("../../fonts/Hind_Siliguri/HindSiliguri-Bold.ttf") format(ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Hind_Siliguri';
  src: url("../../fonts/Hind_Siliguri/HindSiliguri-SemiBold.ttf") format(ttf);
  font-weight: 700;
}
